@import "src/common/extends";
@import "src/common/variables";


.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  z-index: 10;
  transition: $transition03 ease;

  &.active {
    transform: scale(1);
    transition: $transition03;
  }
}

.modalContent {
  padding: 20px;
  border-radius: $borderRadius;
  background-color: $backgroundCart;
  width: 80%;
  height: 90vh;
  position: relative;
  box-shadow: $boxShadow;

  .modalContentInner {
    .modalImg {
      width: 65%;
      float: left;
      margin: 4px 15px 5px 0;
    }

    .modalDescription {
      font-size: 20px;
    }
  }

  .modalTitle {
    @extend .title;
    margin: 50px 0;
    font-size: 30px;
  }

  .orderService {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: $color-accent-dark;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: $transition05;
    border: none;
    cursor: pointer;

    span {
      z-index: 3;
      position: relative;
      font-size: 16px;
      color: white;
    }

    img {
      width: 35px;
      height: 35px;
      position: absolute;
      z-index: 1;
      right: 8px;
      top: 8px;
      transition: .5s;
    }

    &:hover {
      background-color: $color-accent-lite;
      transition: $transition05;

      span {
        color: white;
        transition: $transition05;
      }

      img {
        transform: translate(-5px, 0px);
        width: 40px;
        height: 40px;
        top: 5px;
      }
    }
  }
}