@import "src/common/extends";
@import "src/common/variables";


.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  z-index: 10;
  transition: $transition03 ease;

  &.active {
    transform: scale(1);
    transition: $transition03;
  }
}

.modalContent {
  padding: 20px;
  border-radius: $borderRadius;
  background-color: $backgroundCart;
  width: 80%;
  height: 90vh;
  position: relative;
  box-shadow: $boxShadow;

  .modalContentInner {
    .modalImg {
      width: 65%;
      float: left;
      margin: 4px 15px 5px 0;
    }

    .modalDescription {
      font-size: 20px;
    }
  }

  .modalTitle {
    @extend .title;
    margin: 50px 0;
    font-size: 30px;
  }

  .orderService {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .dateWrapper {
    position: absolute;
    bottom: -28px;
    right: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;

    .dateText {
      font-size: 18px;
      margin: 0 40px 0 40px;
      font-weight: 700;
    }

    .dateFrom[type='date'] {
      background-image: url("../../images/background/bg1.png");
      background-size: cover;
      padding: 10px;
      color: $color-text;
      font-size: 18px;
      font-weight: 700;
      border: none;
      outline: none;
      border-radius: $borderRadius;
      margin-left: 15px;
      margin-right: 15px;
    }

    /*::-webkit-calendar-picker-indicator{
      background-color: white;
      padding: 5px;
      cursor: pointer;
      border-radius: 3px;
    }*/
    .dateTo[type='date'] {
      margin-left: 15px;
      background-image: url("../../images/background/bg1.png");
      background-size: cover;
      padding: 10px;
      color: $color-text;
      font-size: 18px;
      font-weight: 700;
      border: none;
      outline: none;
      border-radius: $borderRadius;
    }
  }

  .closeModal {
    position: absolute;
    top: 30px;
    right: 30px;

    .buttonClose {
      display: flex;
      align-items: center;
      background-color: $color-accent-dark;
      border: none;
      border-radius: $borderRadius;
      width: 40px;
      height: 40px;

      &:hover {
        transform: scale(1.1);
        transition: $transition03;
      }
    }
  }
}