@import "src/common/extends";
@import "src/common/variables";


.check {
  padding-left: 1.2em;

  .checkInput {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .checkBox {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: -1.2em;
    background-image: url("../../images/pawBig.png");
    //background-size: cover;
    background-color: #666666;
    border: 2px solid #666666;
    border-radius: 5px;
  }
}

.checkInput:checked + .checkBox {
  background-image: url("../../images/pawBig.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.checkInput:focus + .checkBox {
  border: 2px solid #000000;
}
