@import "src/common/extends";
@import "src/common/variables";


.check {
  padding-left: 25px;

  .checkInput {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .checkBox {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: -25px;
    background-image: url("../../images/pawBig.png");
    //background-size: cover;
    //background-color: $backgroundSidebar;
    border: 2px solid $color-text;
    border-radius: 4px;
  }
}

.checkInput:checked + .checkBox {
  background-image: url("../../images/pawBig.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.checkInput:focus + .checkBox {
  border: 2px solid $color-title;
}
