@import "src/common/extends";
@import "src/common/variables";;

.homepageBg{
  background-image: url("../../images/pagesBG/19.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 1020px;
  position: relative;
  top: -200px;
  .homePageTitle{
    position: absolute;
    bottom: 450px;
    right: 65px;
    font-size: 60px;
    z-index: 2;
    color: white;
    line-height: 1.3;

    .homePageSpan{
      @extend .bgButtonHover;
      color: #eb5837;
      padding: 0 20px;
      display: inline-flex;
      font-size: 60px;
    }
  }
  .contactUs{
    z-index: 100;
    position: absolute;
    bottom: 400px;
    right: 500px;
    padding: 15px;
    background-color: #eb5837;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all .5s;
    &:hover{
      background-color: white;
      color: #eb5837;
      transition: all .5s;
    }
  }
}