.homepageBg{
  background-image: url("../../images/pagesBG/hamepageBG.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 1020px;
  z-index: -1;
  position: relative;
  top: -200px;

}