@import "src/common/extends";

.advantageBg {
  padding: 20px 0;
  margin: 50px 0;

  .title{
    @extend .title
  }

  .advantageWrapper {

    @extend .container;
    @extend .flexHorizontalCenter;
    align-items: flex-start;

    .advantageItems {
      max-width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .description {
        padding: 0 10px;
        text-align: justify;
      }

      .advantageIcon {
        width: 80px;
        height: 80px;
      }

      .iconsWrapper {
        text-align: center;
      }
    }
  }
}

