@import "../../common/extends";
@import "../../common/variables";


.button {
  position: relative;
  padding: 15px 20px;
  background-color: $color-accent-dark;
  text-decoration: none;
  border-radius: $borderRadius;
  border: none;
  font-weight: bold;
  transition: $transition03;
  cursor: pointer;

  span {
    z-index: 3;
    position: relative;
    font-size: 16px;
    color: white;
  }

  img {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 7px;
    transition: $transition03;
  }

  &:hover {
    background-color: $color-accent-lite;
    transition: $transition03;

    span {
      color: white;
      transition: $transition03;
    }

    img {
      width: 37px;
      height: 37px;
      right: 15px;
      top: 7px;
      transform: scale(1.1);
    }
  }
}