@import "../../common/extends";
@import "../../common/variables";


.petInfoBg {

  h1 {
    font-size: 50px;
    text-align: center;
    margin: 100px 0 0 0;
  }

  .petInfoWrapper {
    @extend .container;
    max-width: 600px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;

    .petInfoItems {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        font-size: 18px;

        span {
          width: 75px;
        }
        input {
          padding: 10px 15px;
          border: solid 1px #4a4a4a;
          border-radius: 5px;
          color: #666666;
          font-weight: 500;
          outline-color: #4a4a4a;
          background-image: url("../../images/background/bg1.png");
          background-size: cover;
          background-position-y: -130px;
        }
      }
      .petInfoAgeBlockItems {
        display: flex;
        justify-content: space-between;

        .petInfoAgeBlockItemsWrapper {
          display: flex;
          margin-bottom: 20px;
          align-items: center;
          justify-content: space-between;

          .petInfoAgeBlockItemTitle {

          }

          .petInfoSexBlockItemTitle {
            width: 40px;
            margin-left: 45px;
          }

          .petInfoSexBlockItemInput {
            width: 70px;
            height: 41px;
            padding: 10px 15px;
            border: solid 1px #4a4a4a;
            border-radius: 5px;
            color: #666666;
            font-weight: 500;
            outline-color: #4a4a4a;
            background-image: url("../../images/background/bg1.png");
            background-size: cover;
            background-position-y: -130px;
            font-size: 16px;
          }

          .petInfoAgeBlockItemInput {
            width: 70px;
            padding: 10px 15px;
            border: solid 1px #4a4a4a;
            border-radius: 5px;
            color: #666666;
            font-weight: 500;
            outline-color: #4a4a4a;
            background-image: url("../../images/background/bg1.png");
            background-size: cover;
            background-position-y: -130px;
          }
        }

        input {
          padding: 10px 15px;
          border: solid 1px #4a4a4a;
          border-radius: 5px;
          color: #666666;
          font-weight: 500;
          outline-color: #4a4a4a;
          background-image: url("../../images/background/bg1.png");
          background-size: cover;
          background-position-y: -130px;
        }
      }

      .electronicCardWrapper {
        display: flex;

        .electronicCardInput {
          width: 15px;
          height: 15px;
        }
        .electronicCardTitle {
          margin-left: 10px;
          width: 100%;
        }
      }
    }
  }

  .petPhotoWrapper {
    //margin-left: 100px;
  }
}


.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 100px 0 100px 0;
  border-radius: 5px;

  .downloadPhoto {
    padding: 10px 20px;
    //background-color: $color-accent-dark;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all .5s;
    border: 1px solid $color-accent-dark;
    border-radius: 5px;
    cursor: pointer;
  }

  .downloadPhotoTitle {
    z-index: 3;
    position: relative;
    font-size: 16px;
    color: $color-accent-lite;
  }

  img {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 5px;
    transition: .5s;
  }

  &:hover {
    //background-color: $color-accent-lite;
    transition: all .5s;
    border-radius: 5px;

    .downloadPhotoTitle {
      color: $color-accent-dark;
      transition: .5s;
    }

    img {
      transform: translate(-5px, 0px);
      width: 35px;
      height: 35px;
      top: 2px;
    }
  }
}