@import "../../common/extends";
@import "../../common/variables";


.petInfoBg {

  h1 {
    font-size: 50px;
    text-align: center;
    margin: 100px 0 0 0;
  }

  .petInfoWrapper {
    @extend .container;
    max-width: 800px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;

    .petInfoItems {
      width: 70%;
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        font-size: 18px;

        span {
          width: 75px;
        }

        input {
          width: 80%;
          @extend .bgInput;
        }
      }

      .petInfoAgeBlockItems {
        display: flex;

        .petInfoAgeBlockItemsWrapper {
          display: flex;
          margin-bottom: 20px;
          align-items: center;

          .petInfoAgeBlockItemTitle {

          }

          .petInfoSexBlockItemTitle {
            width: 40px;
            margin-left: 45px;
          }

          .petInfoSexBlockItemInput {
            width: 70px;
            height: 41px;
            @extend .bgInput;
            font-size: 16px;
          }

          .petInfoAgeBlockItemInput {
            width: 70px;
            @extend .bgInput;
          }
        }

        input {
          @extend .bgInput;
        }
      }

      .electronicCardWrapper {
        width: 270px;

        .electronicCardLabel {
          //display: flex;

          .electronicCardInput {
            width: 15px;
            height: 15px;
          }

          .electronicCardTitle {
            margin-left: 10px;
            width: 240px;
            display: inline;
          }
        }
      }
    }


    .petPhotoWrapper {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      align-items: center;

      .petPhoto {
        width: 100px;
        height: 100px;
      }

      .buttonWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 25px 0 25px 0;
        border-radius: $borderRadius5;

        .downloadPhoto {
          padding: 10px 20px;
          background-color: white;
          text-decoration: none;
          font-weight: bold;
          transition: $transition05;
          border: 1px solid $color-accent-dark;
          cursor: pointer;
        }

        .addPhoto {
          color: $color-accent-dark;
          font-size: 18px;
          font-weight: 700;
          align-self: center;
          display: flex;
          cursor: pointer;

          img{
            width: 20px;
            height: 20px;
            margin-left: 7px;
            transition: $transition03;
          }
          &:hover {
            img {
              transform: scale(1.2);
              transition: $transition03;
            }
          }
        }
      }
    }
  }
}


