@import "../../common/extends";
@import "../../common/variables";


.petInfoBg {

  h1 {
    font-size: 50px;
    text-align: center;
    margin: 100px 0 0 0;
  }

  .petInfoWrapper {
    @extend .container;
    max-width: 600px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;

    .petInfoItems {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        font-size: 18px;

        span {
          width: 75px;
        }

        input {
          width: 80%;
          @extend .bgInput;
        }
      }

      .petInfoAgeBlockItems {
        display: flex;
        justify-content: space-between;

        .petInfoAgeBlockItemsWrapper {
          display: flex;
          margin-bottom: 20px;
          align-items: center;
          justify-content: space-between;

          .petInfoAgeBlockItemTitle {

          }

          .petInfoSexBlockItemTitle {
            width: 40px;
            margin-left: 45px;
          }

          .petInfoSexBlockItemInput {
            width: 70px;
            height: 41px;
            @extend .bgInput;
            font-size: 16px;
          }

          .petInfoAgeBlockItemInput {
            width: 70px;
            @extend .bgInput;
          }
        }

        input {
          @extend .bgInput;
        }
      }

      .electronicCardWrapper {
        display: flex;

        .electronicCardInput {
          width: 15px;
          height: 15px;
        }

        .electronicCardTitle {
          margin-left: 10px;
          width: 100%;
        }
      }
    }
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 25px 0 25px 0;
  border-radius: $borderRadius5;

  .downloadPhoto {
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    transition: $transition05;
    border: 1px solid $color-accent-dark;
    cursor: pointer;
  }

  .downloadPhotoTitle {
    z-index: 3;
    position: relative;
    font-size: 16px;
    color: $color-accent-lite;
  }

  img {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 5px;
    transition: $transition05;
  }

  &:hover {
    transition: $transition05;
    border-radius: $borderRadius5;

    .downloadPhotoTitle {
      color: $color-accent-dark;
      transition: $transition05;
    }

    img {
      transform: translate(-5px, 0px);
      width: 35px;
      height: 35px;
      top: 2px;
    }
  }
}