@import "../../common/extends";
@import "../../common/variables";

.loginContent {
  @extend .container;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  .loginContentTitle {
    margin: 80px 0 50px 0;
  }

  .formWrapper {
    width: 50%;

    .inputWrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      input {
        @extend .bgInput;
        margin: 15px 0;
      }
    }

    .buttonWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      span {

        .register {
          text-decoration: none;
          font-weight: 700;
          color: #e17a6b;
        }
      }


      /*.buttonLogin {
        padding: 10px 20px;
        background-color: $color-accent-dark;
        text-decoration: none;
        border-radius: $borderRadius;
        font-weight: bold;
        transition: $transition03;
        border: none;
        cursor: pointer;

        span {
          z-index: 3;
          position: relative;
          font-size: 16px;
          color: white;
        }

        img {
          width: 30px;
          height: 30px;
          position: absolute;
          z-index: 1;
          right: 8px;
          top: 5px;
          transition: $transition03;
        }

        &:hover {
          background-color: $color-accent-lite;
          transition: $transition03;

          span {
            color: white;
            transition: $transition03;
          }

          img {
            transform: translate(-5px, 0px);
            width: 35px;
            height: 35px;
            top: 2px;
          }
        }
      }*/
    }
  }
}