@import "src/common/extends";
@import "src/common/variables";

.lastNewsBg {
  @extend .container;
  margin-bottom: 100px;

  .title {
    @extend .title
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
    "news1 news1 news2 news2 news3 news3"
    "news4 news4 news4 news5 news5 news5";

    .newsTitle {
      font-size: 25px;
      padding: 0 15px 0 15px;
      height: 110px;
      margin: 20px 0 10px 0;
      line-height: 35px;
      transition: $transition03;
    }

    .newsText {
      font-size: 18px;
      padding: 15px 15px 25px 15px;
      color: $color-text;
      border-top: 2px solid $color-accent-dark;
      margin: 0;
    }

    .newsItemWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 550px;

      .newsButtonOpen {
        position: absolute;
        top: 130px;
        left: 130px;
        display: none;
        background-color: $color-accent-dark;
        border-radius: $borderRadius;
        font-weight: bold;
        transition: $transition03;
        font-size: 20px;
        color: white;
        padding: 20px 40px;
        text-decoration: none;
        img {
          width: 50px;
          height: 50px;
          position: absolute;
          z-index: 1;
          right: 8px;
          top: 9px;
          transition: $transition03;
        }
      }

      div {
        position: absolute;
        background-image: url("../../images/Rectangle 123.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 11;
        font-size: 16px;
        top: 15px;
        left: -20px;
        padding: 10px 15px 10px 25px;
        color: $color-text;
        font-weight: bold;
      }
    }

    .news1 {
      grid-area: news1;
      @extend .lastNewsContainer;

      &:hover {
        box-shadow: $boxShadowHover;
        background-color: $backgroundCartHover;

        .newsButtonOpen {
          display: block;
          z-index: 10;
        }

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: $transition03;
        }

        h3 {
          @extend .lastNewsTitle;
        }
      }

      .lastNewsImageOne {
        width: 420px;
        height: 300px;
        border-radius: $borderRadius $borderRadius 0 0;
        transition: $transition03;
      }
    }

    .news2 {
      grid-area: news2;
      @extend .lastNewsContainer;

      &:hover {
        box-shadow: $boxShadowHover;
        background-color: $backgroundCartHover;

        .newsButtonOpen {
          display: block;
          z-index: 10;
        }

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: $transition03;
        }

        h3 {
          @extend .lastNewsTitle;
        }
      }

      .lastNewsImageTwo {
        width: 420px;
        height: 300px;
        border-radius: $borderRadius $borderRadius 0 0;
        transition: $transition03;
      }
    }

    .news3 {
      grid-area: news3;
      @extend .lastNewsContainer;

      &:hover {
        box-shadow: $boxShadowHover;
        background-color: $backgroundCartHover;

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: $transition03;
        }

        .newsButtonOpen {
          display: block;
          z-index: 10;
        }

        h3 {
          @extend .lastNewsTitle;
        }
      }

      .lastNewsImageThree {
        width: 420px;
        height: 300px;
        border-radius: $borderRadius $borderRadius 0 0;
        transition: $transition03;
      }
    }

    .news4 {
      grid-area: news4;
      @extend .lastNewsContainer;

      &:hover {
        box-shadow: $boxShadowHover;
        background-color: $backgroundCartHover;

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: $transition03;
        }

        .newsButtonOpen {
          display: block;
          z-index: 10;
          left: 235px;
        }

        h3 {
          @extend .lastNewsTitle;
        }
      }

      .lastNewsImageFour {
        width: 637px;
        height: 300px;
        border-radius: $borderRadius $borderRadius 0 0;
        transition: $transition03;
      }
    }

    .news5 {
      grid-area: news5;
      @extend .lastNewsContainer;

      &:hover {
        box-shadow: $boxShadowHover;
        background-color: $backgroundCartHover;

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: $transition03;
        }

        .newsButtonOpen {
          display: block;
          z-index: 10;
          left: 235px;
          img {
            width: 50px;
            height: 50px;
            transform: scale(1.1);
          }
        }

        h3 {
         @extend .lastNewsTitle;
        }

      }

      .lastNewsImageFour {
        width: 637px;
        height: 300px;
        border-radius: $borderRadius $borderRadius 0 0;
        transition: $transition03;
      }
    }
  }
}


