@import "src/common/extends";
@import "src/common/variables";

.lastNewsBg {
  @extend .container;
  margin-bottom: 100px;

  .title {
    @extend .title
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
    "news1 news1 news2 news2 news3 news3"
    "news4 news4 news4 news5 news5 news5";

    .newsTitle {
      font-size: 27px;
      padding: 0 15px 0 15px;
      height: 110px;
      margin: 20px 0 0 0;
      line-height: 35px;
      transition: .3s;
    }

    .newsText {
      font-size: 18px;
      padding: 0 15px 0 15px;
      color: $color-text;
    }

    .newsItemWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 550px;

      button {
        @extend .bgButtonNews;
        position: absolute;
        top: 130px;
        left: 130px;
        display: none;
        background-color: transparent;
        //background-color: #eb5837;
        border: none;
        //border-radius: 5px;
        //font-weight: bold;
        transition: all .5s;
        //font-size: 20px;
        //color: white;
        //padding: 20px 40px;
        cursor: pointer;
      }

      //div {
      //  position: absolute;
      //  background-image: url("../../images/Rectangle 123.png");
      //  background-repeat: no-repeat;
      //  z-index: 10;
      //  //writing-mode: tb-rl;
      //  //transform: rotate(180deg);
      //  font-size: 16px;
      //  display: none;
      //}
    }

    .news1 {
      grid-area: news1;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      //button {
      //  position: absolute;
      //  top: 130px;
      //  left: 125px;
      //  display: none;
      //  background-color: #eb5837;
      //  border: none;
      //  border-radius: 5px;
      //  font-weight: bold;
      //  transition: all .5s;
      //  font-size: 20px;
      //  color: white;
      //  padding: 20px 40px;
      //}

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        //div {
        //  display: block;
        //}

        button {
          display: block;
          z-index: 10;
        }

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        h3 {
          color: rgba(235, 88, 55, 0.84);
          transition: .3s;
        }
      }

      .lastNewsImageOne {
        width: 420px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }

    .news2 {
      grid-area: news2;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        button {
          display: block;
          z-index: 10;
        }

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        h3 {
          color: #eb5837;
          transition: .3s;
        }
      }

      .lastNewsImageTwo {
        width: 420px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }

    .news3 {
      grid-area: news3;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        button {
          display: block;
          z-index: 10;
        }

        h3 {
          color: #eb5837;
          transition: .3s;
        }
      }

      .lastNewsImageThree {
        width: 420px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }

    .news4 {
      grid-area: news4;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        button {
          display: block;
          z-index: 10;
          left: 255px;
        }

        h3 {
          color: #eb5837;
          transition: .3s;
        }
      }

      .lastNewsImageFour {
        width: 637px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }

    .news5 {
      grid-area: news5;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        button {
          display: block;
          z-index: 10;
          left: 255px;
        }

        h3 {
          color: #eb5837;
          transition: .3s;
        }
      }

      .lastNewsImageFour {
        width: 637px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }
  }
}

