@import "src/common/extends";
@import "src/common/variables";

.lastNewsBg {
  @extend .container;
  margin-bottom: 100px;

  .title {
    @extend .title
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
    "news1 news1 news2 news2 news3 news3"
    "news4 news4 news4 news5 news5 news5";

    .newsTitle {
      font-size: 25px;
      padding: 0 15px 0 15px;
      height: 110px;
      margin: 20px 0 0 0;
      line-height: 35px;
      transition: .3s;
    }

    .newsText {
      font-size: 18px;
      padding: 15px 15px 25px 15px;
      color: $color-text;
      border-top: 1px solid $color-text;
      margin: 0;
    }

    .newsItemWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 550px;

      .newsButtonOpen {
        position: absolute;
        top: 130px;
        left: 130px;
        display: none;
        background-color: #eb5837;
        border-radius: 5px;
        font-weight: bold;
        transition: all .5s;
        font-size: 20px;
        color: white;
        padding: 20px 40px;
        text-decoration: none;
        img {
          width: 50px;
          height: 50px;
          position: absolute;
          z-index: 1;
          right: 8px;
          top: 9px;
          transition: .5s;
        }
      }

      div {
        position: absolute;
        background-image: url("../../images/Rectangle 123.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 11;
        font-size: 16px;
        top: 15px;
        left: -20px;
        padding: 10px 15px 10px 25px;
        color: #666666;
        font-weight: bold;
      }
    }

    .news1 {
      grid-area: news1;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        .newsButtonOpen {
          display: block;
          z-index: 10;
        }

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        h3 {
          color: rgba(235, 88, 55, 0.84);
          transition: .3s;
        }
      }

      .lastNewsImageOne {
        width: 420px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }

    .news2 {
      grid-area: news2;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        .newsButtonOpen {
          display: block;
          z-index: 10;
        }

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        h3 {
          color: #eb5837;
          transition: .3s;
        }
      }

      .lastNewsImageTwo {
        width: 420px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }

    .news3 {
      grid-area: news3;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        .newsButtonOpen {
          display: block;
          z-index: 10;
        }

        h3 {
          color: #eb5837;
          transition: .3s;
        }
      }

      .lastNewsImageThree {
        width: 420px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }

    .news4 {
      grid-area: news4;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        .newsButtonOpen {
          display: block;
          z-index: 10;
          left: 235px;
        }

        h3 {
          color: #eb5837;
          transition: .3s;
        }
      }

      .lastNewsImageFour {
        width: 637px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }

    .news5 {
      grid-area: news5;
      text-decoration: none;
      background-color: rgba(235, 231, 228, 0.58);
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
      overflow: hidden;
      position: relative;

      &:hover {
        box-shadow: 8px 8px 8px -5px rgba(34, 60, 80, 0.6);
        background-color: rgba(215, 215, 215, 0.8);

        img {
          filter: brightness(60%);
          transform: scale(1.1);
          transition: all .5s;
        }

        .newsButtonOpen {
          display: block;
          z-index: 10;
          left: 235px;
          img {
            width: 50px;
            height: 50px;
            transform: scale(1.1);
          }
        }

        h3 {
          color: #eb5837;
          transition: .3s;
        }
      }

      .lastNewsImageFour {
        width: 637px;
        height: 300px;
        border-radius: 15px 15px 0 0;
        transition: all .5s;
      }
    }
  }
}

