@import "../../common/extends";
@import "../../common/variables";

.productPageWrapper {
  @extend .container;
}

.productTitle {
  text-align: center;
  margin: 100px 0 70px 0;
  font-size: 25px;
}

.productInfoWrapper {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

}

.productImageWrapper {

}

.productImage {
  width: 250px;
  margin: 0 100px 0 0;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productDescription {
  margin: 10px 0;
}

.productDescription span {
  margin-left: 10px;
}

.productPrice {
  margin-top: 50px;
  font-weight: bold;
}

.productPrice span {
  margin-left: 10px;
  font-weight: bold;
}

.productOrderWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
