@import "src/common/extends";

.containerNav{

  h4{
    font-size: 21px;
    font-weight: bold;
  }

  .wrapper {
    display: flex;
    flex-direction: column;

    .link {
      text-decoration: none;
      color: $color-text;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .activeLink {
      text-decoration: none;
      color: $color-text;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
      span{
        border-bottom: 2px solid #eb5837;
      }

    }
  }
}
