@import "src/common/extends";
@import "src/common/variables";


/*
.shopCategoryIcon {
  width: 50px;
  height: 50px;
}

.shopBg {

  .shopContainer {
    @extend .container;

    .shopWrapper {
      display: flex;
      justify-content: space-between;
      margin: 150px 0;
      flex-wrap: wrap;

      .shopPetsCardWrapperDog {
        width: 360px;
        height: 350px;
        background-size: cover;
        //margin: 0 200px 0 0;
        border-radius: $borderRadius;
        cursor: pointer;
        display: flex;
        justify-content: center;
        transition: all .3s;
        position: relative;
        align-items: center;

        .shopDogs {
          display: block;
          transition: all .3s;

          .shopPetsTitle {
            font-size: 25px;
            font-weight: 900;
            color: $color-accent-dark;
            margin-bottom: 30px;
            text-align: center;
          }
        }

        .shopDogsActive {
          display: none;
          transition: all .3s;
        }

        .dogEatActive {
          font-size: 22px;
          display: block;
          position: absolute;
          transition: all .3s;

          .dogItems {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;

            .dogItem {
              width: 150px;
              margin: 10px;
              padding: 5px;
              text-align: center;
              text-decoration: none;
              border: 1px black solid;

              .dogItemTitle {
                color: $color-text;
                font-weight: 600;
              }
            }
          }
        }

        .dogEat {
          display: none;
          transition: all .3s;
        }
      }

    }


  }
}*/


.shop{
  @extend .container;

  .shopTitle{
    @extend .title;
  }

  .shopCategoryWrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;



    .categoryWrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 200px;
      height: 200px;
      border: 2px solid $color-text;
      margin-left: 15px;
      border-radius: $borderRadius;
      box-shadow: $boxShadow;

      .categoryTitle{
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}

