@import "src/common/extends";
@import "src/common/variables";


.shopBg {

  .shopContainer {
    @extend .container;

    .shopWrapper {
      display: flex;
      justify-content: space-between;
      margin: 150px 0;

      //.shopSidebar {
      //  background-color: $color-accent-dark;
      //  width: 30%;
      //}
      //
      //.shopCategoryWrapper {
      //  margin-bottom: 100px;
      //  width: 100%;
      //
      //  .shopCategoryTitle {
      //    margin-top: 100px;
      //  }
      //
      //  .shopCategory {
      //    display: flex;
      //    flex-wrap: wrap;
      //    justify-content: center;
      //  }
      //}

      .shopPetsCardWrapper {
        width: 200px;
        height: 200px;
        background-size: cover;
        //margin: 50px 0;
        //border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .shopPetsTitle {
          font-size: 25px;
          font-weight: 900;
          color: $color-accent-dark;
          margin-bottom: 30px;
          text-align: center;
        }
      }
    }
  }
}