.servicesBg {
  background-image: url("../../images/pagesBG/14.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 920px;
  z-index: -1;
  position: relative;
  top: -200px;

}