@import "src/common/extends";
@import "src/common/variables";

.servicesBg {
  background-image: url("../../images/pagesBG/26.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 920px;
  position: relative;
  top: -200px;

  .servicesTitle {
    @extend .pageTitle;
    bottom: 330px;
    right: 80px;


    .servicesSpan{
      @extend .bgButtonHover;
      @extend .spanTitle;
    }
  }
}

.servicesSubTitle{
  text-align: center;
  position: relative;
  top: -100px;
  @extend .title;
  margin: 0;
}

.servicesItems{
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;

}