@import "src/common/extends";
@import "src/common/variables";

//.ourTeamTitle {
//  @extend .title;
//  margin: 0 0 40px 0;
//}
//
//.ourTeamContainer {
//  @extend .container;
//  display: flex;
//  justify-content: center;
//  //margin-top: 80px;
//  flex-wrap: wrap;
//
//  .ourTeamCardWrapper {
//    box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
//    width: 400px;
//    height: 170px;
//    margin: 15px;
//    display: flex;
//    background-color: #f1efed;
//    border-radius: 15px;
//    position: relative;
//
//    .paw {
//      position: absolute;
//      top: 15px;
//      width: 100px;
//      right: 60px;
//      opacity: 0.2;
//    }
//
//    .ourTeamPhotoWrapper {
//      position: relative;
//      align-self: end;
//
//      .ourTeamPhoto {
//        width: 110px;
//        height: 150px;
//        margin: 5px 15px 0 5px;
//        position: absolute;
//        bottom: 0;
//      }
//    }
//
//    .ourTeamInformation {
//      display: flex;
//      flex-direction: column;
//      padding: 0 10px 0 0;
//      margin-left: 130px;
//      width: 260px;
//      margin-top: 20px;
//
//      h4 {
//        font-size: 25px;
//        margin: 30px 0 0 0;
//      }
//
//      p {
//        font-size: 18px;
//      }
//    }
//  }
//}

.ourTeamTitle {
  @extend .title;
  margin: 0 0 40px 0;
}

.ourTeamWrapper {
  display: flex;
  background-color: $color-accent-dark;

  .ourTeamImage {
    background-image: url("../../images/pagesBG/18.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;

    /*img {
      width: 100%;
      height: 100%;
    }*/
  }

  .ourTeamTabs {
    width: 50%;
    background-color: #ffffff;

    .tabsWrapper {
      display: flex;
      flex-direction: column;
      position: relative;

      .tabsItems {
        list-style: none;
        position: absolute;
        left: -190px;
        top: -16px;

        .tabsItemOne {
          @extend .tabsItem;
          background-color: #FF7657;
        }

        .tabsItemTwo {
          @extend .tabsItem;
          background-color: #eb5837;
        }

        .tabsItemThree {
          @extend .tabsItem;
          background-color: #cd3512;
        }
      }


      .tabPanel1 {
        background-color: #FF7657;
        width: 100%;
        .tabPanelItem1 {
          min-height: 600px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: space-around;
          align-items: center;
          margin: 10px 0;

          .tabPanelItem1 {
            @extend .container;
          }
        }
      }

      .tabPanel2 {
        background-color: #eb5837;
        width: 100%;
        .tabPanelItem2 {
          min-height: 600px;
          display: flex;
          flex-direction: column;
          align-content: space-around;
          align-items: center;
          margin: 10px 0;
        }
      }

      .tabPanel3 {
        background-color: #cd3512;
        width: 100%;

        .tabPanelItem3 {
          min-height: 600px;
          display: flex;
          flex-direction: column;
          align-content: space-around;
          align-items: center;
          margin: 10px 0;
        }
      }
    }
  }


  .ourTeamCardWrapper {
    display: flex;
    width: 300px;
    background-color: white;
    margin: 10px 0;
    //border-radius: 40px;
    align-items: center;

    .ourTeamPhotoWrapper {
      margin: 20px;

      .ourTeamPhoto {
        width: 100px;
        border-radius: 50%;
      }
    }

    .ourTeamInformation {

      h4 {
        font-size: 20px;
        margin: 10px 0;
      }

      p {
        font-size: 18px;
      }
    }
  }

}



