@import "src/common/extends";
@import "src/common/variables";


.ourTeamTitle {
  @extend .title;
  margin: 100px 0 100px 0;
}

.ourTeamWrapper {
  display: flex;
  background-color: #ffffff;

  .ourTeamImage {
    background-image: url("../../images/pagesBG/18.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;

  }

  .ourTeamTabs {
    width: 50%;
    background-color: #ffffff;

    .tabsWrapper {
      display: flex;
      flex-direction: column;
      position: relative;

      .tabsItems {
        list-style: none;
        position: absolute;
        left: -190px;
        top: -16px;

        .tabsItemOne {
          @extend .tabsItem;
          background-color: #cd3512;
        }

        .tabsItemTwo {
          @extend .tabsItem;
          background-color: $color-accent-dark;
        }

        .tabsItemThree {
          @extend .tabsItem;

          background-color: $color-accent-lite;
        }
      }


      .tabPanel1 {
        background-color: #cd3512;
        width: 100%;

        .tabPanelItem1 {
          @extend .tabPanelItem;
        }
      }

      .tabPanel2 {
        background-color: $color-accent-dark;
        width: 100%;

        .tabPanelItem2 {
          @extend .tabPanelItem;
        }
      }

      .tabPanel3 {
        background-color: $color-accent-lite;
        width: 100%;

        .tabPanelItem3 {
          @extend .tabPanelItem;
        }
      }
    }
  }


  .ourTeamCardWrapper {
    display: flex;
    width: 300px;
    margin: 10px;
    align-items: center;

    .ourTeamPhotoWrapper {
      margin: 20px;

      .ourTeamPhoto {
        width: 120px;
        border: 5px solid #ffffff;
        border-radius: 50%;
      }
    }

    .ourTeamInformation {

      .ourTeamInformationName {
        font-size: 20px;
        margin: 10px 0;
        color: #ffffff;
      }

      .ourTeamInformationDescription {
        font-size: 18px;
        color: #ffffff;
      }
    }
  }
}

.tabPanelTitle {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  margin: 50px 0 30px 0;
}



.ourTeamButtonWrapper {
  text-align: center;

  .inServices {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: $borderRadius;
    font-weight: bold;
    transition: $transition03;
    border: none;
    cursor: pointer;

    span {
      z-index: 3;
      position: relative;
      font-size: 16px;
      color: $color-accent-dark;
    }

    img {
      width: 35px;
      height: 35px;
      position: absolute;
      z-index: 1;
      right: 8px;
      top: 8px;
      transition: $transition03;
    }

    &:hover {
      background-color: #ffffff;
      transition: $transition03;

      span {
        color: $color-accent-dark;
        transition: $transition03;
      }

      img {
        transform: translate(-5px, 0px);
        width: 40px;
        height: 40px;
        top: 5px;
      }
    }
  }
}



