@import "src/common/extends";
@import "src/common/variables";

//.ourTeamTitle {
//  @extend .title;
//  margin: 0 0 40px 0;
//}
//
//.ourTeamContainer {
//  @extend .container;
//  display: flex;
//  justify-content: center;
//  //margin-top: 80px;
//  flex-wrap: wrap;
//
//  .ourTeamCardWrapper {
//    box-shadow: 0 7px 5px -5px rgba(34, 60, 80, 0.6);
//    width: 400px;
//    height: 170px;
//    margin: 15px;
//    display: flex;
//    background-color: #f1efed;
//    border-radius: 15px;
//    position: relative;
//
//    .paw {
//      position: absolute;
//      top: 15px;
//      width: 100px;
//      right: 60px;
//      opacity: 0.2;
//    }
//
//    .ourTeamPhotoWrapper {
//      position: relative;
//      align-self: end;
//
//      .ourTeamPhoto {
//        width: 110px;
//        height: 150px;
//        margin: 5px 15px 0 5px;
//        position: absolute;
//        bottom: 0;
//      }
//    }
//
//    .ourTeamInformation {
//      display: flex;
//      flex-direction: column;
//      padding: 0 10px 0 0;
//      margin-left: 130px;
//      width: 260px;
//      margin-top: 20px;
//
//      h4 {
//        font-size: 25px;
//        margin: 30px 0 0 0;
//      }
//
//      p {
//        font-size: 18px;
//      }
//    }
//  }
//}

.ourTeamTitle {
  @extend .title;
  margin: 100px 0 100px 0;
}

.ourTeamWrapper {
  display: flex;
  background-color: #ffffff;

  .ourTeamImage {
    background-image: url("../../images/pagesBG/18.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;

  }

  .ourTeamTabs {
    width: 50%;
    background-color: #ffffff;

    .tabsWrapper {
      display: flex;
      flex-direction: column;
      position: relative;

      .tabsItems {
        list-style: none;
        position: absolute;
        left: -190px;
        top: -16px;

        .tabsItemOne {
          @extend .tabsItem;
          background-color: #FF7657;
        }

        .tabsItemTwo {
          @extend .tabsItem;
          background-color: #eb5837;
        }

        .tabsItemThree {
          @extend .tabsItem;
          background-color: #cd3512;
        }
      }


      .tabPanel1 {
        background-color: #FF7657;
        width: 100%;

        .tabPanelItem1 {
          min-height: 450px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: flex-start;
          align-items: center;
          justify-content: center;
          margin: 10px 0;

          .tabPanelItem1 {
            @extend .container;
          }
        }
      }

      .tabPanel2 {
        background-color: #eb5837;
        width: 100%;

        .tabPanelItem2 {
          min-height: 450px;
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: flex-start;
          justify-content: center;
          margin: 10px 0;
        }
      }

      .tabPanel3 {
        background-color: #cd3512;
        width: 100%;

        .tabPanelItem3 {
          min-height: 450px;
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: flex-start;
          justify-content: center;
          margin: 10px 0;
        }
      }
    }
  }


  .ourTeamCardWrapper {
    display: flex;
    width: 300px;
    margin: 10px;
    //border-radius: 40px;
    align-items: center;

    .ourTeamPhotoWrapper {
      margin: 20px;

      .ourTeamPhoto {
        width: 120px;
        border: 5px solid #ffffff;
        border-radius: 50%;
      }
    }

    .ourTeamInformation {

      .ourTeamInformationName {
        font-size: 20px;
        margin: 10px 0;
        color: #ffffff;
      }

      .ourTeamInformationDescription {
        font-size: 18px;
        color: #ffffff;
      }
    }
  }

}

.tabPanelTitle {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  margin: 50px 0 30px 0;
  //background-image: url("../../Vector.png");
}



.ourTeamButtonWrapper {
  text-align: center;

  .inServices {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all .5s;
    border: none;
    cursor: pointer;

    span {
      z-index: 3;
      position: relative;
      font-size: 16px;
      color: $color-accent-dark;
    }

    img {
      width: 35px;
      height: 35px;
      position: absolute;
      z-index: 1;
      right: 8px;
      top: 8px;
      transition: .5s;
    }

    &:hover {
      background-color: #ffffff;
      transition: all .5s;

      span {
        color: $color-accent-dark;
        transition: .5s;
      }

      img {
        //right: 50px;
        //transform: scale(1.1);
        transform: translate(-5px, 0px);
        width: 40px;
        height: 40px;
        top: 5px;
      }
    }
  }
}



