@import "src/common/extends";
@import "src/common/variables";
@import "src/common/fonts";

.footerBg {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -7px 5px -5px rgba(34, 60, 80, 0.6);
  padding: 20px 0;
  position: relative;
  background-image: url("../../images/background/bg1.png");

  .catBg{
    position: absolute;
    bottom: 0;
    right: 50px;

  }

  .protection {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.wrapper {
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 300px;

  .wrapperLogo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .logo {
      margin-right: 20px;
      width: 200px;
    }

    .sloganFooter{
      font-size: 17px;
      color: #4a4a4a;
      font-weight: normal;
    }

    .wrapperSocials {
      display: flex;
      width: 100%;
      margin: 15px 0 0 0;
      justify-content: space-between;

      svg {
        width: 40px;
        height: 40px;

        &:hover {
          fill: #666666;
        }
      }
    }
  }

  .footerGalleryWrapper {

    h4{
      font-size: 21px;
      font-weight: bold;
    }

    .galleryFooter {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 15px 15px;
    }
  }


  .wrapperLink {
    @extend .flexVertical;

    h4{
      font-size: 21px;
      font-weight: bold;
    }

    .link {
      text-decoration: none;
      color: $color-text;
      font-weight: bold;
      font-size: 16px;
    }

    .link + .link {
      margin-top: 10px;
    }
  }
}