@import "src/common/extends";
@import "src/common/variables";


.userWrapper {
  display: flex;
  align-items: center;

  .userLoginWrapper {
    align-items: center;
    cursor: pointer;

    .linkUser{
      display: flex;

      text-decoration: none;
      outline: none;

      .linkUserWrapper{
        display: flex;
        align-items: center;
      }
    }

    .userLogin {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      background-color: white;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      .userLoginIcon {
        border-radius: $borderRadius;
        width: 60px;
        height: 60px;
      }
    }

    .userName {
      font-size: 20px;
      font-weight: 900;
      color: white;
    }
  }

  .userLogout {
    width: 65px;
    height: 35px;
    border-radius: $borderRadius;
    outline: transparent;
    border: transparent;
    margin-left: 10px;
    color: white;
    font-weight: 700;
    background-color: $color-accent-dark;
  }
}