@import "src/common/extends";
@import "src/common/variables";

.petVaccinations {
  width: 70%;

  .petVaccinationsTitle {
    @extend .title;
  }

  .petVaccinationsItems {
    padding-left: 0;

    .petVaccinationsItem + .petVaccinationsItem {
      margin-top: 25px;
    }

    .petVaccinationsItem {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: $backgroundCartHover;
      border-radius: $borderRadius;
      padding: 30px 15px;
      list-style-type: none;
      font-size: 20px;
      font-weight: 900;
      justify-content: space-between;
    }
  }

  .petVaccinationsForm {
    display: flex;
    flex-direction: column;
    width: 100%;

    .petVaccinationsFormItemBlock {
      display: flex;
      margin: 50px 0 0 0;

      .petVaccinationsFormItemType {
        margin-right: 50px;
        font-weight: 700;


        .petVaccinationsFormItemTypeInp {
          @extend .bgInput;
          //margin-left: 10px;
          margin-top: 10px;
        }
      }

      .petVaccinationsFormItemDate {
        font-weight: 700;

        .petVaccinationsFormItemDateInp {
          @extend .bgInput;
          margin-top: 10px;
        }
      }
    }

    .petVaccinationsFormItem {
      margin: 30px 0 0 0;
      font-weight: 700;

      .petVaccinationsFormItemDrugName {
        @extend .bgInput;
        margin-top: 10px;
      }

      .petVaccinationsFormItemClinicName {
        @extend .bgInput;
        margin-top: 10px;
      }
    }
  }

  .petAccountInfoBtnWrapper {
    text-align: right;
    margin: 30px 0 50px 0;
  }
}