@import "src/common/extends";
@import "src/common/variables";

.goodsCardWrapper {
  position: relative;
  width: 400px;
  height: 450px;
  margin: 10px;
  padding: 15px;
  background-color: $backgroundCart;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  transition: $transition03;
  text-decoration: none;
  color: $color-text;

  .goodsTitleWrapper {
    text-decoration: none;

    .goodsTitle {
      font-size: 18px;
      height: 40px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .goodsButtonPriceBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    p {
      width: 50%;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }

    .goodsButtonWrapper {
      width: 215px;
    }
  }

  .goodsInner {
    display: flex;
    justify-content: space-between;

    .goodsImage {
      max-width: 200px;
      max-height: 200px;
      margin: 0 30px 5px 20px
    }

    .goodsPriceItems {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .goodsPriceItem + .goodsPriceItem {
        margin-top: 15px;
      }
    }
  }

  &:hover {
    background-color: $backgroundCartHover;
    box-shadow: $boxShadowHover;
    transition: $transition03;

    .goodsTitleWrapper {

      .goodsTitle {
        color: $color-accent-dark;
        transition: $transition03;

        &:hover {
          color: $color-accent-lite;
        }
      }
    }

    .goodsButtonPriceBlock {
      p {
        color: $color-accent-dark;
      }

      .goodsButtonWrapper {

        .addToBasket {
          span {
            color: white;
          }
        }
      }
    }
  }
}