@import "../../common/extends";
@import "../../common/variables";


.userInfo {
  @extend .container;
  margin-bottom: 100px;

  .userInfoTitle {
    @extend .title;
  }

  .userInfoBlock {
    display: flex;
    justify-content: center;

    .userInfoWrapper {
      display: flex;
      flex-direction: column;

      .userInfoItems {
        display: flex;
        flex-direction: column;

        .userInfoItem {
          margin-bottom: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;

          span {
            width: 120px;
            font-size: 18px;
          }

          .userInfoItemInput {
            width: 100%;
            padding: 10px 15px;
            border: solid 1px #4a4a4a;
            border-radius: 5px;
            color: #666666;
            font-weight: 500;
            outline-color: #4a4a4a;
            background-image: url("../../images/background/bg1.png");
            background-size: cover;
            background-position-y: -130px;
          }
        }
      }

      .userInfoHomeItems {
        display: flex;
        flex-direction: row;

        .userInfoHomeItem {
          margin-bottom: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        span {
          width: 90px;
          font-size: 18px;
          text-align: right;
        }

        .userInfoHomeInput {
          width: 70px;
          margin-left: 10px;
          padding: 10px 15px;
          border: solid 1px #4a4a4a;
          border-radius: 5px;
          color: #666666;
          font-weight: 500;
          outline-color: #4a4a4a;
          background-image: url("../../images/background/bg1.png");
          background-size: cover;
          background-position-y: -130px;
        }
      }
    }
  }

  .userInfoPhoto {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 100px;
    align-items: center;

    img {
      width: 150px;
      height: 150px;
      //border: 1px solid #4a4a4a;
      margin-bottom: 30px;
    }

    .downloadPhoto {
      width: 180px;
      margin-bottom: 50px;
    }

    .buttonWrapper {
      display: flex;
      flex-direction: column;

      .addAnimal {
        margin-bottom: 20px;
      }

      .register {
        height: 40px;
        background-color: #fcc141;
        border: 1px solid #4a4a4a;
        cursor: pointer;
      }
    }
  }
}


