@import "../../common/extends";
@import "../../common/variables";


.userInfo {
  @extend .container;
  margin-bottom: 100px;

  .userInfoTitle {
    @extend .title;
  }

  .userInfoBlock {
    display: flex;
    justify-content: center;

    .userInfoWrapper {
      display: flex;
      flex-direction: column;

      .userInfoItems {
        display: flex;
        flex-direction: column;

        .userInfoItem {
          margin-bottom: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;

          span {
            width: 120px;
            font-size: 18px;
          }

          .userInfoItemInput {
            @extend .bgInput;
          }
        }
      }

      .userInfoHomeItems {
        display: flex;
        flex-direction: row;

        .userInfoHomeItem {
          margin-bottom: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        span {
          width: 90px;
          font-size: 18px;
          text-align: right;
        }

        .userInfoHomeInput {
          @extend .bgInput;
          width: 70px;
          margin-left: 10px;
        }
      }
    }
  }

  .userInfoPhoto {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 100px;
    align-items: center;


    .userPhoto {
      width: 150px;
      height: 150px;
      margin-bottom: 30px;
    }

    .buttonWrapper{
      margin-bottom: 25px;
    }
  }
}


