@import "src/common/extends";
@import "src/common/variables";

  .servicesItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 400px;
    height: 520px;
    margin: 15px;
    padding: 15px;
    background-color: #eeece9;
    border-radius: 15px;
    box-shadow: 0 0 6px 1px rgba(34, 60, 80, 0.4);
    transition: .3s all ease;

    .servicesItemTitle{
      font-size: 25px;
    }

    .servicesImage{
      width: 400px;
      height: 200px;
      margin: 0 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .servicesDescription{
      font-size: 20px;
      font-weight: 700;
      height: 100px;
    }

    .buttonBlock {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-self: flex-end;

    }

    .learnMore{
      color: $color-accent-dark;
      font-size: 18px;
      font-weight: 700;
      align-self: center;
      display: flex;
      cursor: pointer;

      img{
        width: 20px;
        height: 20px;
        margin-left: 7px;
        transition: all .3s;
      }
      &:hover {
        img {
          transform: scale(1.2);
          transition: all .3s;
        }
      }
    }

    &:hover{
      background-color: white;
      box-shadow: 0 0 8px 3px rgba(34, 60, 80, 0.4);
      transition: .3s all;
      .servicesItemTitle{
        color: $color-accent-dark;
        transition: .3s all;
      }
    }
  }
