@import "src/common/extends";
@import "src/common/variables";

  .servicesItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 400px;
    height: 520px;
    margin: 15px;
    padding: 15px;
    background-color: #eeece9;
    border-radius: 15px;
    box-shadow: 0 0 6px 1px rgba(34, 60, 80, 0.4);
    transition: .3s all ease;

    .servicesItemTitle{
      font-size: 25px;
    }

    .servicesImage{
      width: 400px;
      height: 200px;
      padding: 0 15px;
    }
    .servicesDescription{
      font-size: 20px;
      font-weight: 700;
    }

    .learnMore{
      position: absolute;
      bottom: 20px;
      //right: 0;
      //left: 0;
      padding: 15px;
      background-color: $color-accent-dark;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      transition: all .5s;
      border: none;
      cursor: pointer;

      span {
        z-index: 3;
        position: relative;
        font-size: 16px;
        color: white;
      }

      img {
        width: 35px;
        height: 35px;
        position: absolute;
        z-index: 1;
        right: 8px;
        top: 8px;
        transition: .5s;
      }

      &:hover {
        background-color: $color-accent-lite;
        transition: all .5s;

        span {
          color: white;
          transition: .5s;
        }

        img {
          //right: 50px;
          //transform: scale(1.1);
          transform: translate(-5px, 0px);
          width: 40px;
          height: 40px;
          top: 5px;
        }
      }
    }

    &:hover{
      background-color: white;
      box-shadow: 0 0 8px 3px rgba(34, 60, 80, 0.4);
      transition: .3s all;
      .servicesItemTitle{
        color: $color-accent-dark;
        transition: .3s all;
      }
    }
  }
