@import "src/common/extends";
@import "src/common/variables";

  .servicesItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 400px;
    height: 520px;
    margin: 15px;
    padding: 15px;
    background-color: $backgroundCart;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    transition: $transition03 ease;

    .servicesItemTitle{
      font-size: 25px;
    }

    .servicesImage{
      width: 400px;
      height: 200px;
      margin: 0 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .servicesDescription{
      font-size: 20px;
      font-weight: 700;
      height: 100px;
    }

    .buttonBlock {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-self: flex-end;
      .linkMore{
        text-decoration: none;
        align-self: flex-end;
      }
    }

    &:hover{
      background-color: $backgroundCartHover;
      box-shadow: $boxShadowHover;
      transition: .3s all;
      .servicesItemTitle{
        color: $color-accent-dark;
        transition: $transition03;
      }
    }

    .editBtnWrapper{
      width: 86%;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
  }
