@import "../../common/extends";
@import "../../common/variables";

.pageContainer {
  @extend .container;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  .petAccountInfo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

    .petAccountInfoWrapper {
      display: flex;
      align-items: center;

      .petAccountPhoto {
        width: 150px;
        height: 150px;
        border-radius: $borderRadius;
        background-size: cover;
        margin-right: 40px;
      }

      .petAccountPersonalInfo {
        .personalPetName {
          font-size: 30px;
          font-weight: 900;
          margin-bottom: 15px;
        }

        .personalPetAge {
          margin-right: 15px;
          font-size: 20px;
          font-weight: 700;
        }

        .personalPetGender {
          margin-right: 15px;
          font-size: 20px;
          font-weight: 700;
        }

        .personalPetBreed {
          margin-top: 15px;
          font-size: 25px;
          font-weight: 700;
        }
      }
    }

    .petAccountPersonalCard {
      .petPersonalCard {
        font-size: 25px;
        font-weight: 900;
      }

      .petPersonalCardNumber {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 10px;
        text-align: center;
      }
    }
  }

  /*.petVaccinations {
    width: 70%;

    .petVaccinationsTitle {
      @extend .title;
    }

    .petVaccinationsItems {
      padding-left: 0;

      .petVaccinationsItem + .petVaccinationsItem {
        margin-top: 25px;
      }

      .petVaccinationsItem {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $backgroundCartHover;
        border-radius: $borderRadius;
        padding: 30px 15px;
        list-style-type: none;
        font-size: 20px;
        font-weight: 900;
        justify-content: space-between;
      }
    }

    .petVaccinationsForm {
      display: flex;
      flex-direction: column;
      width: 100%;

      .petVaccinationsFormItemBlock {
        display: flex;
        margin: 50px 0 0 0;

        .petVaccinationsFormItemType {
          margin-right: 50px;
          font-weight: 700;


          .petVaccinationsFormItemTypeInp {
            @extend .bgInput;
            //margin-left: 10px;
            margin-top: 10px;
          }
        }

        .petVaccinationsFormItemDate {
          font-weight: 700;

          .petVaccinationsFormItemDateInp {
            @extend .bgInput;
            margin-top: 10px;
          }
        }
      }

      .petVaccinationsFormItem {
        margin: 30px 0 0 0;
        font-weight: 700;

        .petVaccinationsFormItemDrugName {
          @extend .bgInput;
          margin-top: 10px;
        }

        .petVaccinationsFormItemClinicName {
          @extend .bgInput;
          margin-top: 10px;
        }
      }
    }

    .petAccountInfoBtnWrapper {
      text-align: right;
      margin: 30px 0 50px 0;
    }
  }*/

  /*.petProcedures {
    width: 70%;

    .petProceduresTitle {
      @extend .title;
    }

    .petProceduresItem + .petProceduresItem {
      margin-top: 25px;
    }

    .petProceduresItems {
      width: 100%;
      margin-bottom: 50px;
      padding-left: 0;

      .petProceduresItem {
        background-color: $backgroundCartHover;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: $borderRadius;
        padding: 30px 15px;
        list-style-type: none;
        font-size: 20px;
        font-weight: 900;
        justify-content: space-between;
      }
    }

    .petProceduresForm {
      display: flex;
      flex-direction: column;

      .petProceduresFormItem {
        margin: 30px 0 0 0;
        font-weight: 700;

        .petProceduresFormInput {
          @extend .bgInput;
          margin-top: 10px;
        }

        .petProceduresFormItemDateInp {
          @extend .bgInput;
          margin-top: 10px;
          width: 200px;
          display: flex;
        }
      }
    }

    .petAccountInfoBtnWrapper {
      text-align: right;
      margin: 30px 0 100px 0;
    }
  }*/

  .petAccountInstruction {
    display: flex;
    width: 70%;

    .petAccountInstructionWrapper {
      margin-right: 25px;

      .petAccountInstructionDescription + .petAccountInstructionDescription {
        margin-top: 15px;
      }

      .petAccountInstructionDescription {
        font-size: 16px;
        font-weight: 600;
        margin: 0;


        .petAccountInstructionDescriptionStar {
          color: #cd3512;
        }
      }
    }

    .petAccountInfoBtnWrapper {
      align-self: flex-end;
    }
  }
}