@import "src/common/extends";
@import "src/common/variables";

.userPetsLink{

  text-decoration: none;
  color: $color-text;

  .userPetsWrapper {
    display: flex;
    background-color: $backgroundCartHover;
    padding: 15px;
    border-radius: $borderRadius;
    margin: 0 40px 30px 0;
    box-shadow: $boxShadow;
    cursor: pointer;

    &:hover {
      background-color: $backgroundCart;
      box-shadow: $boxShadowHover;
    }

    .userAccountPetPhoto {
      width: 150px;
      height: 150px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: $borderRadius;
      margin-right: 15px;
    }

    .userAccountPetInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .userAccountPetName {
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 10px;
      }

      .userAccountAge {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .userAccountPetGender{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .userAccountBreed {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }

    .personalPetCardWrapper {
      display: flex;

      .personalPetCard {
        width: 90px;
        height: 130px;
        display: flex;
        align-items: center;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
        align-self: center;
        margin-left: 25px;
        //border-radius: $borderRadius;

        .personalPetCardText {
          font-size: 25px;
          font-weight: 700;
        }
      }
    }
  }
}