@import "src/common/extends";
@import "src/common/variables";

.headerBg {
  background-color: $bg-colorF0F0F0;
}

.navBg {
  padding: 25px;
  background-color: #924848;
}

.containerHeader {
  @extend .mainContainer;

  .logo {
    width: 120px;
    height: 120px;
    padding: 20px;
  }

  .wrapper {
    @extend .flexHorizontalCenter;

    .linkWrapper {
      @extend .flexVertical;

      .link {
        text-decoration: none;
        color: #ffffff;
      }

      .link + .link {
        margin-top: 15px;
      }
    }
    p{
      padding: 20px;
    }
  }
}