@import "src/common/extends";
@import "src/common/variables";

.headerBg {
  background-color: #FBFBFB;
}

.navBg {
  padding: 25px;
  background-color: #924848;
}

.containerHeader {
  @extend .container;

  .logo {
    width: 120px;
    height: 120px;
    padding: 10px;
  }

  .wrapperHeader {
    display: flex;
    align-items: center;

    .innerLogo {
      display: flex;
      margin-right: 50px;
      width: 400px;
      align-items: center;
      text-decoration: none;

      .slogan {
        color: black;
        line-height: 25px;
        font-size: 18px;
      }
    }

    .innerHeader {
      width: 1050px;
      position: relative;

      .line {
        width: 818.281px;
        height: 1px;
        border: 1px solid black;
        position: absolute;
        top: 30px;
      }

      .wrapperInformationBlock {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;


        .linkWrapper {
          display: flex;

          .link {
            text-decoration: none;
            color: #000;
          }

          .link + .link {
            margin-left: 20px;
          }
        }

        .inputSearch {
          border: 1px solid #e1e1e1;
          margin-right: 5px;
          outline: none;
          padding: 5px 55px 5px 10px;
          width: 350px;
          height: 30px;
          border-radius: 15px;
        }

        .innerSearch {
          position: relative;

          .buttonSearch {
            position: absolute;
            height: 30px;
            border: 1px solid #e1e1e1;
            border-radius: 15px;
            right: -5px;
          }
        }
      }
    }
  }
}