@import "src/common/extends";

.reviewWrapper{
  @extend .container;
  .reviewTitle{
    @extend .title;
  }
  margin-bottom: 50px;
  .reviewInner{
    padding: 15px;
    .reviewElements{
      display: flex;
      justify-content: space-between;
      .reviewUserImage{
        width: 150px;
        height: 150px;
      }
      .reviewUser{
        display: flex;
        align-items: center;
      }
      .reviewRating{
        align-self: flex-end;
      }
    }
  }
}