@import "src/common/extends";

.reviewWrapper{
  @extend .container;
  padding-bottom: 100px;
  .reviewTitle{
    @extend .title;
  }
  margin-bottom: 50px;
  .reviewInner{
    padding: 15px;
    .reviewElements{
      display: flex;
      justify-content: space-between;
      .reviewUserImage{
        width: 150px;
        height: 150px;
        margin-right: 15px;
        border: 5px solid $color-accent-dark;
        border-radius: 15px;
      }
      .reviewUser{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      .reviewUserName{
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 15px;
      }

      .reviewDate{
        color: $color-accent-dark;
      }

      .reviewRating{
        align-self: flex-end;
      }
      .reviewText{
        margin: 0;
      }
    }
  }

  .reviewFormWrapper{
    @extend .container;
    position: relative;
    top: 50px;

    .reviewFormTitle{
      font-size: 40px;
      color: $color-text;
      margin: 30px 0 30px 0;
    }

    .reviewForm{
      display: flex;
      flex-direction: column;
      width: 100%;

      .reviewFormTextarea{
        margin-bottom: 25px;
        padding: 15px;
        @extend .bgInput;
      }
    }
  }
}