@import "../../common/extends";
@import "../../common/variables";


.aboutUsBg {
  background-image: url("../../images/pagesBG/21.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 920px;
  position: relative;
  top: -200px;

  .aboutUsTitle {
    position: absolute;
    bottom: 400px;
    right: 65px;
    font-size: 60px;
    color: white;
    line-height: 1.3;
  }

  .aboutUsButton {
    padding: 20px 40px;
    position: absolute;
    background-color: #eb5837;
    border-radius: 5px;
    bottom: 350px;
    right: 70px;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;


    span {
      z-index: 3;
      position: relative;
      font-size: 20px;
      color: white;
    }

    img {
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: 1;
      right: 8px;
      top: 9px;
      transition: .5s;
    }

    &:hover {
      background-color: white;
      transition: .5s;

      span {
        color: #eb5837;
        transition: .5s;
      }

      img {
        width: 50px;
        height: 50px;
        //transform: translate(-5px, 0px) rotate(-5deg);
        transform: scale(1.1);
      }
    }
  }
}

h2 {
  @extend .container;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
}

.aboutUsInfoWrapper {
  @extend .container;

  .aboutUsInfo {
    margin-bottom: 100px;

    h6 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
    }
  }
}