@import "../../common/extends";
@import "../../common/variables";


.aboutUsBg {
  background-image: url("../../images/pagesBG/21.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 920px;
  position: relative;
  top: -200px;

  .aboutUsTitle {
    @extend .pageTitle;
    bottom: 400px;
    right: 65px;

  }

  .aboutUsButton {
    padding: 20px 40px;
    position: absolute;
    background-color: $color-accent-dark;
    border-radius: $borderRadius;
    bottom: 350px;
    right: 70px;
    text-decoration: none;
    font-weight: bold;
    transition: $transition03;


    span {
      z-index: 3;
      position: relative;
      font-size: 20px;
      color: white;
    }

    img {
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: 1;
      right: 8px;
      top: 9px;
      transition: $transition03;
    }

    &:hover {
      background-color: white;
      transition: $transition03;

      span {
        color: $color-accent-dark;
        transition: $transition03;
      }

      img {
        width: 50px;
        height: 50px;
        transform: scale(1.1);
      }
    }
  }
}

h2 {
  @extend .container;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
}

.aboutUsInfoWrapper {
  @extend .container;

  .aboutUsInfo {
    margin-bottom: 100px;

    h6 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
    }
  }
}

.reviewWrapper{
  @extend .container;
  position: relative;
  top: -200px;

  .reviewTitle{
    font-size: 40px;
    color: $color-text;
    margin: 30px 0 30px 0;
  }

  .reviewForm{
    display: flex;
    flex-direction: column;
    width: 80%;

    .reviewTextarea{
      margin-bottom: 25px;
      padding: 15px;
      @extend .bgInput;
    }
  }
}







