@import "src/common/extends";


.popularsContainer{
  @extend .container;
  .popularsTile{
    @extend .title;
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  }
}