@import "../../common/extends";
@import "../../common/variables";


.contactsBG {
  background-image: url("../../images/pagesBG/27.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 920px;
  position: relative;
  top: -200px;

  .contactTitle {
    @extend .pageTitle;
    bottom: 320px;
    right: 40px;


    .contactSpan {
      @extend .bgButtonHover;
      @extend .spanTitle;
    }
  }
}

.contactsWrapper {
  position: relative;
  top: -100px;
  @extend .container;
  display: flex;

  .contactInfo {
    background: $color-accent-dark;
    width: 50%;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contactInfoTitle {
      font-size: 35px;
      color: white;
      margin-top: 70px;
    }

    .contactItems {
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      color: white;
      .contactPhones{
        display: flex;
        .phones{
          margin-left: 25px;
          .phone{
            text-decoration: none;
            color: white;
            display: block;
            margin: 20px 0;
          }
        }
      }
        a{
          margin-left: 10px;
          text-decoration: none;
          color: white;
          font-size: 20px;
      }
    }
  }

  .writeUs {
    display: flex;
    background-image: url("../../images/background/bg1.png");
    width: 50%;
    flex-direction: column;
    align-items: center;
    .writeUsTitle{
      font-size: 35px;
      margin-top: 70px;
    }
    .writeUsInputWrapper {
      width: 70%;
      display: flex;
      flex-direction: column;

      .writeUsInput {
        width: 100%;
        padding: 10px 15px;
        border: none;
        border-radius: $borderRadius5;
        color: $color-text;
        font-weight: 500;
        outline-color: $color-input;
        margin-bottom: 20px;
      }

      .writeUsTextarea {
        resize: none;
        height: 410px;
        padding: 10px 15px;
        border: none;
        border-radius: $borderRadius5;
        color: $color-text;
        font-weight: 500;
        outline-color: $color-input;
        margin-bottom: 20px;
      }

      .writeUsButton {
        width: 40%;
        align-self: flex-end;
        padding: 10px 20px;
        background-color: $color-accent-dark;
        text-decoration: none;
        border-radius: $borderRadius5;
        font-weight: bold;
        transition: $transition05;
        border: none;
        cursor: pointer;
        position: relative;

        span {
          z-index: 3;
          position: relative;
          font-size: 20px;
          color: white;
        }

        img {
          width: 30px;
          height: 30px;
          position: absolute;
          z-index: 1;
          right: 8px;
          top: 9px;
          transition: $transition05;
        }

        &:hover {
          background-color: $color-accent-lite;
          transition: $transition05;
          border-radius: $borderRadius5;

          span {
            color: white;
            transition: $transition05;
          }

          img {
            transform: translate(-5px, 0px);
            width: 35px;
            height: 35px;
            top: 2px;
          }
        }
      }
    }
  }
}

.mapWrapper {
  .map {
    width: 100%;
    height: 500px;
    border: none;
  }
}