@import "src/common/extends";
@import "src/common/variables";


.shopSidebar {
  width: 100%;

  .shopSidebarItems {
    list-style: none;
    margin-top: 100px;

    .sidebarItemLink {
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-weight: 900;

      .shopSidebarItem {
        list-style: none;
        margin: 20px 0;

        &:hover {
          .shopSidebarPaw {
            display: initial;
            width: 15px;
            height: 15px;
            z-index: 1;
            transition: all .3s;
          }
        }

        .shopSidebarPaw {
          margin-right: 5px;
          display: none;
          z-index: 0;
          transition: all .3s;
        }
      }
    }
  }
}