@import "src/common/extends";
@import "src/common/variables";


.newsLBg {
  background-image: url("../../images/pagesBG/12.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 775px;
  position: relative;
  top: -355px;

  .newsTitle {
    @extend .pageTitle;
    bottom: 60px;
    right: 80px;


    .newsSpan {
      @extend .bgButtonHover;
      @extend .spanTitle;
    }
  }
}

.newsWrapper {
  @extend .container;
  position: relative;
  top: -250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .newsBlock {}
}