@import "src/common/variables";

.container{
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 10px;
}
.container1920{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.flexHorizontalCenter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexVertical{
  display: flex;
  flex-direction: column;
}

.title{
  text-align: center;
  font-size: 40px;
  color: $color-title;
  margin: 100px 0 70px 0;
}

.bgButton{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px  30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-image: url('../images/bgButtonOpacity.png');
  transition: background .5s ease;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.bgButtonHover{
  background-image: url('../images/bgButton.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #eb5837;
}
.bgButtonActive{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px  30px;
  color: #eb5837;
  font-size: 20px;
  font-weight: bold;
  background-image: url('../images/bgButton.png');
  background-repeat: no-repeat;
  transition: background .5s ease;
  background-size: 100% 100%;
}
.bgText{
  background-image: url('../images/bgButton.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-weight: bold;
}

.tabsItem{
  padding: 25px 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 7px 0 0 7px;
  outline: none;
  cursor: pointer;
}
