$bg-colorF0F0F0: #b0afaf;
$color-title: #151515;
$color-accent-lite: #FF7657;
$color-accent-dark: #eb5837;
$color-text: #666666;
$color-input: #4a4a4a;
$backgroundCart: #fbfbfb;
$backgroundCartHover: #efefef;
$backgroundSidebar: #b0afaf24;
$borderRadius: 5px;
$borderRadius5: 5px;
$boxShadow: 0 3px 6px 0 #223c5066;
$boxShadowHover: 0 0 8px 3px rgba(34, 60, 80, 0.4);
$transition03: all .3s;
$transition05: all .5s;