$bg-colorF0F0F0: #b0afaf;
$color-title: #151515;
$color-accent-lite: #FF7657;
$color-accent-dark: #eb5837;
$color-text: #666666;
$backgroundCart: #fbfbfb;
$backgroundCartHover: #efefef;
$borderRadius: 10px;
$boxShadow: 0 3px 6px 0 #223c5066;
$transition03: all .3s;
$transition05: all .5s;